.card-game {
  box-sizing: border-box;
  display: flex;
  border: var(--border-size) solid var(--color-eggshell);
  justify-content: center;
  align-items: center;
  background-color: var(--color-alura);
  height: 160px;
  width: 130px;
  cursor: pointer;

  & > .icon {
    max-height: 90px;
    height: 80%;
  }
}
